body{
  position: relative;
  min-height: 700px;
}
body::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /*! background-attachment: fixed; */
  background-color: #fff9e3;

}
/* 상단영역 */
header{
  position: absolute;
  width: 100%;
}
	.rMenu{
		position: fixed;
		right: -180px;
		width: 130px;
		height: auto;
		top: calc(50% - 90px);
		transition:all 0.7s;
		z-index: 1;
    line-height:2;
    padding:10px 15px;
		background-color: #fcd790;
    border-radius: 30px 0px 0px 30px;
	}	
.rMenu li{
    cursor: pointer;
  transition: 0.3s;
  }
.rMenu li:hover{
  scale: 1.1;
}
.rMenu li::before{
  content:'';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #222;
  vertical-align: 2px;
  margin-right: 5px;
  border-radius: 50%;
}
	.slideR{
		right:-170px !important;
	}
header div.wrap{
  display: flex;
  justify-content: space-between;
  max-width: inherit;
  align-items: center;
  padding: 0 50px;
}
header div.wrap h1 a{
  width: 146px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  white-space: nowrap;
  font-size: 0;
  background-image: url(../img/logo.png);
  /*! filter: hue-rotate(53deg); */
}
header div.wrap ul.gnb{
  position: relative;
}
header div.wrap ul.gnb li{
  
}
header div.wrap ul.gnb li a{
  padding: 5px 25px;
  z-index: 1;
  position: relative;
  color: #5d5d5d;
}
header div.wrap ul.gnb li:hover a{
  color: #000;
}
header div.wrap ul.gnb li a:before{
  content: "";
  display: inline-block;
  box-shadow: inset 0 0 0 2px #ffbf43;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  transition: box-shadow 0.25s;
  margin-right: 10px;
}
header div.wrap ul.gnb li:hover a:before{
   box-shadow: inset 0 0 0 8px #fea700;
}
header .wrap button{
  display: none;
}
/* 타이틀영역 */
#title{
  height: 100%;
  display: flex;
  min-height: 700px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  align-items: center;
  background-image: url(../img/title.jpg);
  background-position: center;
}

#title div.wrap {
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#title div.wrap h2 {
  /*! font-weight: 600; */
  color: #333;
  z-index: 1;
  font-style: normal;
  text-transform: capitalize;
  position: relative;
  font-family: 'Tenada';
}
#title div.wrap h2::after{
  content:'';
  width: 100px;
  height: 100px;
  /*! background-image: url(../img/arrow-com.svg); */
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: -110px;
  top: 150px;
}
#title div.wrap h2 span{
    font-size: 150px;
    margin-bottom: 30px;
  margin-top: 20px;
}
#title div.wrap p {
  animation-name: opacity;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  opacity: 0;
/*   border-bottom: 1px solid #888; */
  line-height: 1.6;
  margin-top: 30px;
  text-align: center;
  color: #111;
}
@keyframes opacity{
  100%{
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 45px;
  height: 45px;
  z-index: 1;
  position: absolute;
  bottom: 15%;
  left: calc(50% - 22.5px);
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: ;
  height: 100%;
  width: 51%;
  background: #555;
  left: ;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -50px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #555;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#title .video-container{
  width: 100%;
  height: 100%;
  display: none;
}
#title .video-container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 메인영역 */
main {
 
}
div.wrap h2{
  position: relative;
  color: #222;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

/* about me */
#aboutme {
  height: 100%;
  display: flex;
  align-items: center;
  min-height: 700px;
}
#aboutme div.wrap {
  grid-template-columns: auto 2fr;
  grid-template-rows: auto auto;
  width: 65%;
  position: relative;
  z-index: 1;
  row-gap: 0;
}
#aboutme div.wrap h2 {
  grid-column: 2;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
#aboutme div.wrap h2::before{
  content:'About Me';
}
#aboutme div.wrap h2 span{
  position: relative;
  z-index: 1;
  display: block;
  width: 500px;
  transform: translateY(-12px);
}

#aboutme div.wrap h2::after{
  content:'';
  display: block;
  width: 70%;
  border-top: 2px solid #eee;
  border-radius: 0 60px 0 0;
}
#aboutme div.wrap ul.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff9e3;
  padding: 30px;
  grid-column: 1;
  height: 450px;

}
#aboutme div.wrap ul.info figure {
 
}
#aboutme div.wrap ul.info figure img {
  width: 230px;
}
#aboutme div.wrap ul.info figure figcaption {
  display: none;
}
#aboutme div.wrap ul.info li {
 font-size: 13px;
 color: #222;
}
#aboutme div.wrap ul.info li strong {
 display: inline-block;
 font-size: 0;
 width: 20px;
 height: 20px;
 background-size: contain;
 vertical-align: 16px;
 margin-right: 10px;
}
#aboutme div.wrap ul.info li:nth-child(2) strong{
   background-image: url(../img/mail.svg);
}
#aboutme div.wrap ul.info li:nth-child(3) strong{
   background-image: url(../img/phone.svg);
}
#aboutme div.wrap ul.info li:nth-child(4) strong{
   background-image: url(../img/4-2.svg);
}
#aboutme div.wrap ul.intro {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-column: 2 /span 2;
  margin-left: 10%;
}
#aboutme div.wrap ul.intro>li:first-child {
  grid-column: 1 /span 3;
}
#aboutme div.wrap ul.intro>li:nth-child(2) {
  grid-column: 1;
  grid-row:3;
}
#aboutme div.wrap ul.intro>li:nth-child(4) {
  grid-column: 2;
  grid-row: 2 /span 2;
}
#aboutme div.wrap ul.intro>li p{
  line-height: 1.6;
  color: #444;
  font-size: 18px;

}
#aboutme div.wrap ul.intro > li p span.my{
    position: relative;
  width: fit-content;
    font-size: 23px;
}
#aboutme div.wrap ul.intro > li p span.my::after{
/*   content:'';
  width: 100%;
  height: 7px;
  background-color: #fbbe4b9c;
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: -1; */
}
#aboutme div.wrap ul.intro li h3 {
  margin-bottom: 20px;
  text-transform: capitalize;
  position: relative;
  width: fit-content;
}
#aboutme div.wrap ul.intro li:nth-child(2) h3{
  font-size: 
20px; 
  margin-top: 20px;
}
#aboutme div.wrap ul.intro li h3::after{
  content:'';
  width: 100%;
  height: 7px;
  background-color: #fbbe4b9c;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: -1;
}
#aboutme div.wrap ul.intro > li ul{
  line-height: 2;
}
#aboutme div.wrap ul.intro > li ul li{
  font-size: 14px;
  color: #444;
}
#aboutme div.wrap ul.intro > li ul li::before{
  content:'';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #444;
  vertical-align: 3.5px;
  margin-right: 5px;
}
/* skill */
#skill{
  height: 100%;
  min-height: 900px;
}
#skill div.wrap{
  flex-direction: column;
  /*! height: 100%; */
  justify-content: center;
  padding: 30px;
  grid-template-columns: 340px 1fr;
  grid-template-rows: auto 1fr;
  width: 65%;
  /*! display: grid; */
}
#skill div.wrap h2 {
  position: relative;
  width: fit-content;
  z-index: 1;
  grid-column: 2;
  margin-bottom: 50px;
}
#skill div.wrap h2::before{
  content:'skill&tools';
  z-index: -1;
}
#skill div.wrap ul.list {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 30px;
  row-gap: 30px;
  /*! padding: 80px; */
  box-sizing: border-box;
  grid-column: 1 / span 2;
  grid-row: 2;
  height: auto;
}
#skill div.wrap ul.list > li {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff9e3;
  border-radius: 15px 10px 15px 10px;
}
#skill div.wrap ul.list > li:nth-child(1){
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 100%;
}
#skill div.wrap ul.list > li:nth-child(2){
  grid-column: 1;
  grid-row: 2;
}
#skill div.wrap ul.list > li:nth-child(3){
  grid-column: 2;
  grid-row: 2;
}
#skill div.wrap ul.list > li:nth-child(4){
  grid-column: 3;
  grid-row: 2;
}
#skill div.wrap ul.list li h3 {
  margin-bottom: 22px;
  text-align: center;
  line-height: 3;
}
#skill div.wrap ul.list li:nth-child(2) h3,
#skill div.wrap ul.list li:nth-child(n+4):nth-child(-n+5) h3{
}
#skill div.wrap ul.list li ul.sub {
  justify-content: space-evenly;
  column-gap: 10px;
}
#skill div.wrap ul.list li ul.sub li{
 width: 100px;
 text-align: center;
}

#skill div.wrap ul.list li ul.sub li strong{
  height: 37px;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
  color:#444;
}
#skill div.wrap ul.list li:nth-child(2) ul.sub li strong,
#skill div.wrap ul.list li:nth-child(n+4):nth-child(-n+5) ul.sub li strong{
 font-size: 13px
}
#skill div.wrap ul.list li ul.sub li i{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
  height: 70px;
  font-size: 11px;
}
#skill div.wrap ul.list li:nth-child(1) ul.sub li i,
#skill div.wrap ul.list li:nth-child(3) ul.sub li i{
  margin-bottom: 25px;
}
#skill div.wrap ul.list li:nth-child(2) ul.sub li i,
#skill div.wrap ul.list li:nth-child(n+4):nth-child(-n+5) ul.sub li i{
 font-size: 12px;
}
#skill div.wrap ul.list li ul.sub li i::before{
  content:"";
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#skill div.wrap ul.list li:not(:nth-child(1)) ul.sub li i::before{
  width: 50px;
  height: 50px;
}
#skill div.wrap ul.list li:nth-child(1) ul.sub li:nth-child(1) i::before{
  background-image: url(../img/1-1.svg);
}
#skill div.wrap ul.list li:nth-child(1) ul.sub li:nth-child(2) i::before{
  background-image: url(../img/1-2.svg);
}
#skill div.wrap ul.list li:nth-child(1) ul.sub li:nth-child(3) i::before{
  background-image: url(../img/1-3.svg);
}
#skill div.wrap ul.list li:nth-child(1) ul.sub li:nth-child(4) i::before{
  background-image: url(../img/1-4.svg);
}
#skill div.wrap ul.list li:nth-child(1) ul.sub li:nth-child(5) i::before{
  background-image: url(../img/1-5.svg);
}
#skill div.wrap ul.list li:nth-child(2) ul.sub li:nth-child(1) i::before{
  background-image: url(../img/3-1.svg);
}
#skill div.wrap ul.list li:nth-child(2) ul.sub li:nth-child(2) i::before{
  background-image: url(../img/3-2.svg);
}
#skill div.wrap ul.list li:nth-child(2) ul.sub li:nth-child(3) i::before{
  background-image: url(../img/3-3.svg);
}
#skill div.wrap ul.list li:nth-child(2) ul.sub li:nth-child(4) i::before{
  background-image: url(../img/3-4.svg);
}
#skill div.wrap ul.list li:nth-child(3) ul.sub li:nth-child(1) i::before{
  background-image: url(../img/4-2.svg);
}
#skill div.wrap ul.list li:nth-child(3) ul.sub li:nth-child(2) i::before{
  background-image: url(../img/4-3.svg);
}
#skill div.wrap ul.list li:nth-child(3) ul.sub li:nth-child(3) i::before{
  background-image: url(../img/4-4.svg);
}
#skill div.wrap ul.list li:nth-child(4) ul.sub li:nth-child(1) i::before{
  background-image: url(../img/5-1.svg);
}
#skill div.wrap ul.list li:nth-child(4) ul.sub li:nth-child(2) i::before{
  background-image: url(../img/5-3.svg);
}
#skill div.wrap ul.list li:nth-child(4) ul.sub li:nth-child(3) i::before{
  background-image: url(../img/5-4.svg);
}

/* 포트폴리오 */
#portfolio {
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*! overflow: hidden; */
}
#portfolio div.wrap {
 flex-direction: column;
 max-width: initial;
 width: 100%;
}
#portfolio div.wrap h2 {
 margin-bottom: 50px;
 margin-left: 20%;
}
#portfolio div.wrap h2::before{
  content:'portfolio';
  z-index: -1;
}
#portfolio div.wrap p {
  
}
#portfolio div.wrap div.slide{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff9e3;
  padding: 30px 0;
}
#portfolio .slick-prev{
  background-image: url(../img/left.svg);
  z-index: 1;
  background-size: contain;
  width:50px;
  height:50px;
  left: 13%;
}
#portfolio .slick-next{
  background-image: url(../img/right2.svg);
  z-index: 1;
  background-size: contain;
  width:50px;
  height:50px;
  right: 13%;
}
#portfolio .slick-prev:hover , #portfolio .slick-next:hover{
  opacity: 0.6;
}
#portfolio .slick-prev::before,#portfolio .slick-next::before{
  display: none;
}
#portfolio .slick-dots{
  bottom: -145px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 130px;
}
#portfolio .slick-dots li{
  width: 80px;
  height: 50px;
  transition: 0.5s;
  /*! box-shadow: 1px 1px 10px #888; */
  border: 1px solid #ccc;
}
#portfolio .slick-dots li.slick-active{
 width: calc(100px * 1.3);
 height: calc(60px * 1.3);
}
#portfolio .slick-dots li img{
  width: 100%;
  height: 100%;
}
#portfolio div.wrap article {
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  align-items: start;
  position: relative;
  display: grid;
  border-radius: 20px;
 /*! background-color: rgba(255, 249, 219, 0.9); */
  column-gap: 70px;
  height: 450px;
}
#portfolio div.wrap article::before{
  /*! content:""; */
  position: absolute;
  width: 100%;
  height: 140%;
  background-color: rgba(255, 249, 219, 0.9);
  border-radius: 20px;
  top: -10%;
  transition: all 0.8s;
}
#portfolio div.wrap article:hover::before{
  width: 100%;
  opacity: 0.9;
}
#portfolio div.wrap article h3 {
  z-index: 1;
}
#portfolio div.wrap article figure {
  width: fit-content;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #999;
  grid-column: 1;
  grid-row: 1 /span 2;
  justify-self: center;
  position: relative;
  justify-self: right;
  height: 400px;
}
#portfolio div.wrap article figure::after{
  content:"";
  display: block;
  width: 160px;
  height: 295px;
  position: absolute;
  bottom: -25px;
  left: -87px;
  border:5px solid;
  border-radius: 20px;
  box-shadow: 2px 8px 7px #999;
  transform: rotate(-10deg);
  background-size: cover;
  background-position: center;
}
#portfolio div.wrap article:nth-child(2) figure::after{
  background-image: url(../img/pf1-testsumnail.jpg); 
  display: none;
}
#portfolio div.wrap article:nth-child(3) figure::after{
  background-image: url(../img/pf2-m.jpg); 
}
#portfolio div.wrap article:nth-child(4) figure::after{
  display: none;
}
#portfolio div.wrap article.p4 figure::after{
  background-image: url(../img/pf3-m.jpg);
}
#portfolio div.wrap article.p5 figure::after{
  display: none;
}
#portfolio div.wrap article.p6 figure::after{
  background-image: url(../img/pf5-m.jpg);
}
#portfolio div.wrap article.p6-1 figure::after{
  background-image: url(../img/pf5-r.jpg);
}

#portfolio div.wrap article.p7 figure::after{
  background-image: url(../img/pf6-m.jpg); 
}
#portfolio div.wrap article figure img {
  width: 610px;
  height: 100%;
  border-radius: 20px;
  border: 8px solid #222;
  object-fit: cover;
}
#portfolio div.wrap article figure figcaption {
display: none;
}
#portfolio div.wrap article ul.sub {
  grid-column: 2;
  grid-row: 2;
  z-index: 1;
  align-self: center;
}
#portfolio div.wrap article ul.sub > li {
  line-height: 1.5;
  margin-bottom: 10px;
  color: #555;
}
#portfolio div.wrap article ul.sub > li:last-child{
  margin-top:50px; 
  display: flex;
  column-gap: 20px;
}
#portfolio div.wrap article ul.sub li.work{
  display: flex;
}
#portfolio div.wrap article ul.sub li strong {
  width: 100px;
  display: inline-block;
  color: #333;
}
#portfolio div.wrap article ul.sub li a {
  transition: 0.5s;
}
#portfolio div.wrap article ul.sub li a:last-child{
  background-color: #fcd790;
}
#portfolio div.wrap article ul.sub li a:hover{
  transition: 0.7s;
  /*! transform: rotateX(360deg); */
  background-color: #ffae11a8;
  color: #333;
}
#portfolio div.wrap article ul.sub li a::after{
  content:"";
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -6px;
  transition: 0.7s;
}
#portfolio div.wrap article ul.sub li a:nth-child(1)::after{
  background-image: url(../img/right-b.svg);
}
#portfolio div.wrap article ul.sub li a:nth-child(2)::after{
  background-image: url(../img/right-b.svg);
}
#portfolio div.wrap article ul.sub li a:hover::after{
  transform: translateX(5px);
  background-image: url(../img/right-b.svg);
}

/* 워크 프로세스 */
#process{
  height: 100vh;
  min-height: 900px;
}
#process div.wrap {
  flex-direction: column;
  row-gap: 30px;
}
#process div.wrap h2 {
  margin-bottom: 50px;
  margin-left: 5%;
}
#process div.wrap h2::before{
  content:'Learning';
  z-index: -1;
  white-space: nowrap;
}
#process div.wrap h3 {
  line-height: 1.6;
  text-align: center;
}
#process div.wrap ul {
  flex-wrap: wrap;
  align-items: center;
  background-color: #fefcf4;
  padding: 33px 50px;
  row-gap: 33px;
}
#process div.wrap ul li {
  width: calc(100% / 3 );
  position: relative;
}
#process div.wrap ul li::before{
  content:"";
  display: inline-block;
  height:5px;
  width: 5px;
  position: absolute;
  background-color: #222;
  top: 30%;
  left: -12px;
}
#process div.wrap a {
 margin: 0 auto;
 background-color: #fcd790;
 color: #333;
 text-align: center;
}
#process div.wrap a:hover{
  transition: 0.7s;
  background-color: #ffae11a8;
  color: #333;
}
#process div.wrap a::after{
  content:"";
  background-image: url(../img/right-b.svg);
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -6px;
  transition: 0.7s;
}
#process div.wrap a:hover::after{
  transform: translateX(5px);
    background-image: url(../img/right-b.svg);
}
/* 컨텍 */
#contact{
  height: 100%;
  background-color: #fff9e3;
  display: flex;
}
#contact .wrap{
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
#contact .wrap h2{
  position: relative;
  white-space: nowrap;
  font-size: 80px;
}
#contact .wrap h2::after{
  display: none;
}
#contact .wrap > p::before{

}
@keyframes mouse{
  0%{
    transform: translate(-10px ,10px);
    scale: 1;
  }
  50%{
    scale: 0.8;
    transform: translate(20px ,10px);
  }
  100%{
   transform: translate(-10px ,10px);
    scale: 1;
  }
}
#contact .wrap > p{
  margin-bottom: 35px;
  position: relative;
}
#contact .wrap ul{
  padding: 20px;
  position: relative;
  border:2px solid;
}
#contact .wrap ul::after{
/*   content:"";
  width: 0%;
  height: 0%;
  border-top: 2px solid #ffce0a;
  border-left:2px solid #ffce0a;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: line;
  animation-fill-mode: forwards;
  animation-duration: 8s;
  animation-iteration-count: infinite; */
  content:'';
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  background-image: url(../img/arrow-com.svg);
  background-size: contain;
  bottom: 0px;
  left: -40px;
  animation-name: mouse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
 
}
#contact .wrap ul::before{
/*  content:"";
  width: 0%;
  height: 0%;
  border-right:2px solid #ffce0a;
  border-bottom:2px solid #ffce0a;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  animation-name: line;
  animation-fill-mode: forwards;
  animation-duration: 8s;
  animation-iteration-count: infinite; */

}
@keyframes line{
  100%{
    height: 108%;
    width: 105%;
  }
}
#contact .wrap ul li{
   color: #fff;
   
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#contact .wrap ul li p{
  margin-bottom: 20px;
  color: #222;
}
#contact .wrap ul li p::before{
  content:"";
  display: inline-block;
  background-size: contain;
  background-repeat:no-repeat;
  width: 30px;
  height: 30px;
  transform: translateY(9px);
  margin-right: 8px;
}
#contact .wrap ul li:nth-child(1) p::before{
    background-image: url(../img/mail.svg);
}
#contact .wrap ul li:nth-child(2) p::before{
    background-image: url(../img/phone.svg);
}
#contact .wrap ul li span{
  font-weight: bold;
}

/* 하단영역 */
footer {
  background-color: #222;
}
footer a{
  color: #fff !important;
}
footer div.wrap {
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto auto;
  align-items: center;
  color: #fff;
  column-gap: 30px;
}
footer div.wrap h1 {
  
}
footer div.wrap h1 a {
  font-size: 0;
  background-image: url(../img/logo-w.png);
  width: 131px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5px;
}
footer div.wrap address {
  
}
footer div.wrap ul.sns {
  justify-self: right;
  column-gap: 10px;
}
footer div.wrap ul.sns li {
  
}
footer div.wrap ul.sns li a {
  width: 104px;
  height: 40px;
  font-size: 12px; 
  background-size: cover;
  display: flex;
  align-items: center;
  column-gap: 9px;
  line-height: 1.4;
}
footer div.wrap ul.sns li:last-child a{
  border-right: none;
}
footer div.wrap ul.sns li a::before{
  content:"";
  width: 30px;
  height: 30px;
  display:inline-block;
  background-size: contain;
}
footer div.wrap ul.sns li:nth-child(1) a::before{
  background-image: url(../img/notion-w.svg);
}
footer div.wrap ul.sns li:nth-child(2) a::before{
  background-image: url(../img/github-w.svg);
}
footer div.wrap ul.sns li:nth-child(3) a::before{
  background-image: url(../img/googledrive-w.svg);
}
footer div.wrap ul.sns li:nth-child(4) a::before{
  background-image: url(../img/codepen-w.svg);
}
footer div.wrap ul.fnb {
  grid-column: 1 / span 2;
  transform: translateX(-20px);
}
footer div.wrap ul.fnb li {
  margin-bottom: 21.44px;
  padding: 10px 20px;
}
footer div.wrap ul.fnb li a {

}
footer div.wrap ul.fnb li a:hover{
  color: #ffce0a !important;
}
footer div.wrap ul.fnb li a::after{
  content:"";
  display: block;
  width: 0%;
  border-bottom: 2px solid #ffce0a;
  transition: 0.5s;
}
footer div.wrap ul.fnb li a:hover::after{
  width: 100%;
}
footer div.wrap p {
  grid-column: 1 / span 2;
}


