@media screen and (max-width:768px){
  
  
/*  상단  */
  header div.wrap{
    
  padding: 0 10px;
  }
  header div.wrap h1 a{
  width: 100px;
  height: 60px;
  margin-left: 20px;
  }
  #title div.wrap p{
    font-size: 20px;
  }
  header div.wrap ul.gnb{
    display: none;
  }
  header button.ham{
    display: block;
    font-size: 0;
    background-image: url(../img/ham.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
  }
  header .rMenu{
    display: none;
  }
  
/*  타이틀  */
  #title div.wrap{
    
  }
  #title div.wrap h2{
    font-size: calc(130px * 0.4);
  }
  @keyframes typing {
 0% {
    width: 0
  }
  100%{
    width: 190%;
  }
}
  #title::after{
    width: 150px;
    height: 150px;
  }
  
/*  어바웃미  */
  #aboutme{
    justify-content: center;
  }
  #aboutme div.wrap{
    height: 700px;
    display:flex;
   
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  div.wrap h2{
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  #aboutme div.wrap h2{
    align-self: baseline;
    margin-bottom: 20px;
  }
  #aboutme div.wrap h2::before{
    display: none;
  }
  #aboutme div.wrap h2::after{
    display: none;
  }
  #aboutme div.wrap h2 span{
    
  transform: translateY(0px);
  }
  #aboutme div.wrap ul.info{
    height: 180px;
    width: auto;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto 1fr;
    background-color: #fff;
    color: #222;
    padding: 0;
  }
  #aboutme div.wrap ul.info li:first-child{
    grid-column: 1;
    grid-row: 1 /span 5;
  }
  #aboutme div.wrap ul.info li:nth-child(2){
    grid-row: 2;
  }
    #aboutme div.wrap ul.info li:nth-child(3){
    grid-row: 3;
  }
    #aboutme div.wrap ul.info li:nth-child(4){
    grid-row: 4;
  }
  #aboutme div.wrap ul.info figure{

  height: 100%;
  }
  #aboutme div.wrap ul.info li{
   color: #222;
  }
  #aboutme div.wrap ul.info figure img{
    width: 145px;
    border: 15px solid;
  }
  #aboutme div.wrap ul.info li strong{
    width: 15px;
    height: 15px;
  }
  #aboutme div.wrap ul.intro {
    margin-left: 10px;
    column-gap: 30px;
    grid-template-rows: 1fr auto;
  }
  #aboutme div.wrap ul.intro > li{
  padding: 0 10px;
  }
  #aboutme div.wrap ul.intro > li:first-child{
    display: none;
  }
  #aboutme div.wrap ul.intro > li:nth-of-type(2){
    grid-column: 2;
    grid-row: 2;
  }
  #aboutme div.wrap ul.intro > li:last-child{
    grid-column: 1;
    grid-row: 1 /span 2;
    align-self: end;
  }
  #aboutme div.wrap ul.intro > li h3{
    
  font-size: calc(20px * 0.9);
  }
  #aboutme div.wrap ul.intro > li ul li{
    font-size: 12px;
  }
  
/*  스킬  */
  #skill{
    height: 768px;
  }
  #skill div.wrap ul.list{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  }
  #skill div.wrap h2::before{
    display: none;
  }
  #skill div.wrap ul.list li h3{
    line-height: 1.6;
    margin-bottom: 10px;
  }
  #skill div.wrap ul.list li ul.sub li strong{
    display: none;
  }
  #skill div.wrap ul.list li ul.sub li i{
    margin-bottom: 0px !important;
  }
/*  포트폴리오  */
  #portfolio{
  height: 100%;
  }
  #portfolio div.wrap{
    justify-content: center;
    row-gap: 0;
    width: 100%;
  }
  #portfolio div.wrap h2::before{
    display: none;
  }
  #portfolio .slick-prev{
    display: none !important;
  }
  #portfolio .slick-next{
    display: none !important;
  }
  #portfolio div.wrap article{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 30px;
  }
  #portfolio div.wrap article h3{
    grid-column: 1;
    grid-row: 1;
    padding-left: 40px;
  }
  #portfolio div.wrap article figure{
    height: fit-content;
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
  #portfolio div.wrap article figure img{
    width: calc(610px * 0.6); 
    height: auto;
    border: 2px solid;
  }
  #portfolio div.wrap article figure::after{
    display: none;
  }
  #portfolio div.wrap article ul.sub{
    grid-column: 1;
    grid-row: 3;
    padding-left: 40px;
  }
  #portfolio div.wrap article ul.sub li{
    font-size: calc(16px * 0.8);
    line-height: 1;
  }
  #portfolio div.wrap article ul.sub li:nth-child(n+4):nth-child(-n+6){
    display: none
  }
  #portfolio div.wrap article ul.sub li strong{
    font-size: calc(16px * 0.8);
  }
  #portfolio .slick-dots{
    bottom: -110px;
  }
  #portfolio .slick-dots li{
    height:60px;
  }
  #portfolio .slick-dots li.slick-active{
    height:calc(60px * 1.2); 
  }
  
/*  process  */
  #process div.wrap h2::before{
    display: none;
  }
  #process div.wrap h3{
  text-align: center;
  font-size: calc(25px * 0.8);
  }
  #process div.wrap ul{
    padding: 25px;
  }
  #process div.wrap ul li{
    font-size: calc(16px * 0.8);
    width: calc(100% / 2 );
  }
  
  
/*  contact  */
  #contact .wrap h2{
   font-size: calc(80px * 0.7);
    margin: 0;
  }
  #contact .wrap > p{
   font-size: calc(22px * 0.7); 
  }
  
/*  footer  */
  footer div.wrap{
    column-gap: 20px;
    padding: 20px 10px;
  }
  footer div.wrap h1 a{
    width: 100px;
  }
  footer div.wrap ul.sns li a{
    font-size: 0;
    width: fit-content;
  }
  footer div.wrap ul.sns li a::before{
    width: 20px;
    height: 20px;
  }
  footer div.wrap ul.fnb{
    font-size: calc(22px * 0.6);
  }
  footer div.wrap ul.fnb li a{
    font-size: calc(22px * 0.6);
  }
  footer div.wrap p{
    grid-column: 1 / span 3;
    text-align: center;
    font-size: 13px;
  }
  
  
}


















